/* src/App.css */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background: url('./Assets/background.jpg') no-repeat center center fixed; 
  background-size: cover;
  color: #c0b4b4; /* Ajusta el color del texto si es necesario */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px; /* Añadir padding para un mejor espaciado */
  box-sizing: border-box;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Queries */

@media (max-width: 768px) {
  .App-header {
    font-size: calc(8px + 2vmin);
    padding: 10px; /* Reducir padding en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .App-header {
    font-size: calc(6px + 2vmin);
    padding: 5px; /* Reducir padding en pantallas muy pequeñas */
  }
}


